<form action="/data" method = "POST">
    <p>Project Name:<input type = "text" name = "name" /></p>
    <p>Skills:<textarea rows = "5" cols = "60" name = "skills" multiple></textarea></p>
    <p>GitHub Link:<input type = "url" name = "github" /></p>
    <p>App Link:<input type = "url" name = "app_link" /></p>
    <p>Description:<textarea rows = "5" cols = "60" name = "description"></textarea></p>
    <p>Image:<input type = "text" name = "image" /></p>
    <p><input type = "submit" value = "Submit" /></p>